html {
    height: 98%;
    background-color: black;
}
body {
    height: 100%;
    font-size: 5vh;
}

@font-face {
    font-family: Exthing;
    src: url("resources/fonts/Exthing.otf") format("opentype");
}

@font-face {
    font-family: Gotham;
    src: url("resources/fonts/Gotham-Medium.otf") format("opentype");
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.top-header {
    text-align: center;
    color: white;
    font-family: Exthing;
    font-size: 1.5em;
}

.release-date {
    text-align: center;
    color: white;
    font-family: Gotham;
    font-size: 0.8em;
    line-height: 1.5;
}

.flex-row {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.gap-5 {
    gap: 5rem;
}

.white {
    color: white;
}

.pt-3 {
    padding-top: 3rem !important;
}

.pb-3 {
    padding-bottom: 3rem !important;
}